<ion-header>
  <ion-navbar>
    <ion-title>Search v1</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of items">
      {{item.title}}
    </ion-item>
  </ion-list>

</ion-content>
